[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyyaml = "*"
yfinance = "*"
mplfinance = "*"
matplotlib = "*"
pandas = "*"
psutil = "*"

[dev-packages]

[requires]
python_version = "3.13"
